.play{
    min-height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    img{
        cursor: pointer;
    }
}
.time-control{
    width: 50vw;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    // align-items: center;
    input{
        width: 100%;
        -webkit-appearance: none;
        cursor: pointer;
        background-color: transparent;    
    }
    p{
        padding: 1rem;
    }
}
.track{
    position: relative;
    background-color: lightblue;
    width: 100%;
    height: 1rem;
    overflow: hidden;
    border-radius: 20px;
}
.antimate-Track{
    background-color: rgb(204, 204, 204);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transform: translateX(0%);
}
input[type='range']:focus{
    outline: none;
}
input[type='range']::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
}
input[type='range']::-moz-slider-thumb{
    background: transparent;
    border: none;
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background-color: black;
}
.play-control{
    width: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons{
    height: 40px;
}
@media screen and (max-width:768px){
    .time-control{
        width: 90vw;
    }
    .play-control{
        width: 60vw;
    }
}